#message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* 可以为成功和失败信息定义不同的样式 */
.success {
  background-color: #f0f9f4;
  color: #0d6832;
  border: 1px solid #a3e9bb;
  /* 更柔和的绿色系 */
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}